

.fuente-groove {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  font-size: 83px;
  /* letter-spacing: 1px; */
}



.contenedor{
    width: 65%;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    /* border-radius: 5px; */
    padding: 30px;
}

@media(max-width: 580px){
    .contenedor{
        width: 80%;
        padding: 10px;
    }
    .seccion-principal{
        width: 65%;
    }
}


/* Estilo base */
.div-container {
  margin: 50px 0 0 0;
  width: 100%;
  height: 300px;
  position: relative;
}

/* Estilo para pantallas de celulares */
@media (max-width: 660px) {
  .div-container {
    margin-top: 80px;  /* Margen superior de 20px para pantallas pequeñas */
  }
}


.seccion-principal{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}



.seccion-principal h3{
    /* color: rgb(34, 34, 34); */
    font-weight: 500;
    font-size: large;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;

}

@media(max-width: 580px){
    .seccion-principal h3{
        padding: 20px 0 0 0;
    }
}




.carrusel-cursos-inicio{
    width: 100%;
    height: auto;
    margin: 0 auto;
}


@media(min-width: 580px){
    .carrusel-cursos-inicio{
        width: 500px;
    }
}

.h1-font-size-pc-responsive{
    font-size: 18px;
}

.h2-font-size-pc-responsive{
    font-size: 10px;
}


@media(min-width: 720px){
    .carrusel-cursos-inicio{
        width: 700px;
    }
    .h1-font-size-pc-responsive{
        font-size: 22px;
    }
    .h2-font-size-pc-responsive{
    font-size: 12px;
}
}




/* Reducir el tamaño de los posts de Instagram */
.instagram-media {
  margin: 0 auto; /* Centrar el contenido */
  transform: scale(.7); /*Reducir el tamaño con escala */
  display: flex;
  justify-content: center;
    position: relative;
    top: 0;
}

.instagram-carousel {
  padding: 25px;
  /* padding: 0; */
  margin: 0 auto;
  /* width: 290px;   */
}

/* Ajustar la posición del carrusel */
.slick-slide {
  padding: 0;
  margin: 0 auto;
}

.slick-slider{
    margin: 0 auto;
    height: 400px;
}


.slick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  margin: 0 auto; 
}

.slick-prev, .slick-next {
  color: #ffffff2c; /* Cambiar el color de las flechas */
  background: none; /* Fondo transparente */

}
.slick-next {
    right: 26px !important;
    z-index: 10;
}
.slick-prev {
    left: 28px !important;
    z-index: 10;
}
.slick-next:before , .slick-prev:before {
    /* font-size: 50px !important; */
    opacity: 0.2 !important;
}









.glass-efecto-inicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;       /* Puedes ajustar el ancho aquí */
  height: 50%;     /* Y también la altura */
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0px;
  z-index: 2;
}

/* 🔳 Capa negra oscura tipo viñeta */
.curso-vignettee-inicio {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: radial-gradient(
    circle, 
    rgba(12, 12, 12, 0.116) 10%,  /* centro claro */
    rgba(0, 0, 0, 0.397) 100%  /* bordes oscuros */
  );
  pointer-events: none; /* deja pasar clics al link debajo */
}

.curso-fondo-inicio {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: .3;
    overflow: hidden;
    filter: saturate(0);
}

.curso-fondo-inicio::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 0;
}

/* IMAGENES ON-DEMAND */
.curso-wrapper-inicio {
  position: relative;
  margin: 80px 0;
  width: 120%;
  right: 10%;
  height: 280px;
  border-radius: 0px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.curso-wrapper-inicio:hover {
  transform: scale(1.03);
}


